Applications/BestBuyApplication/src/conf/xml-resources/web-service-references/BestBuyService/wsdl/localhost_8080/BestBuySearch/BestBuyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="BestBuyService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/BestBuySearch/BestBuyService?xsd=1"/>
</xsd:schema>
</types>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="SAXException">
<part name="fault" element="tns:SAXException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParserConfigurationException">
<part name="fault" element="tns:ParserConfigurationException"/>
</message>
<portType name="BestBuyService">
<operation name="searchProduct">
<input wsam:Action="http://service/BestBuyService/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://service/BestBuyService/searchProductResponse" message="tns:searchProductResponse"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://service/BestBuyService/searchProduct/Fault/SAXException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service/BestBuyService/searchProduct/Fault/IOException"/>
<fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://service/BestBuyService/searchProduct/Fault/ParserConfigurationException"/>
</operation>
</portType>
<binding name="BestBuyServicePortBinding" type="tns:BestBuyService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParserConfigurationException">
<soap:fault name="ParserConfigurationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BestBuyService">
<port name="BestBuyServicePort" binding="tns:BestBuyServicePortBinding">
<soap:address location="http://localhost:8080/BestBuySearch/BestBuyService"/>
</port>
</service>
</definitions>