Applications/ESPNApplication/src/conf/xml-resources/web-service-references/ESPNService/wsdl/localhost_8080/ESPN/ESPNService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="ESPNService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8080/ESPN/ESPNService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSportsNews">
<part name="parameters" element="tns:getSportsNews"/>
</message>
<message name="getSportsNewsResponse">
<part name="parameters" element="tns:getSportsNewsResponse"/>
</message>
<message name="SAXException">
<part name="fault" element="tns:SAXException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="ParserConfigurationException">
<part name="fault" element="tns:ParserConfigurationException"/>
</message>
<portType name="ESPNService">
<operation name="getSportsNews">
<input wsam:Action="http://service/ESPNService/getSportsNewsRequest" message="tns:getSportsNews"/>
<output wsam:Action="http://service/ESPNService/getSportsNewsResponse" message="tns:getSportsNewsResponse"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://service/ESPNService/getSportsNews/Fault/SAXException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service/ESPNService/getSportsNews/Fault/IOException"/>
<fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://service/ESPNService/getSportsNews/Fault/ParserConfigurationException"/>
</operation>
</portType>
<binding name="ESPNServicePortBinding" type="tns:ESPNService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSportsNews">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="ParserConfigurationException">
<soap:fault name="ParserConfigurationException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ESPNService">
<port name="ESPNServicePort" binding="tns:ESPNServicePortBinding">
<soap:address location="http://localhost:8080/ESPN/ESPNService"/>
</port>
</service>
</definitions>